/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 19, 2025, 11:03:26 PM
    Author     : Dana Chavez
*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
  /* Paleta principal */
  --color-primary: #1D2A2C;
  --color-pink: #EFA4A8;
  --color-dark-pink: #BA5E61;
  --color-blue: #69AFAD;
  --color-light-gray: #EFEFEF;
  --color-white: #FFFFFF;
  
  /* Colores para Contacto */
  --color-contact-bg: #fdefee;
  --color-contact-input: #f8c8cd; 
  --color-contact-icon: #f5b0b5; 

  /* Tipografia */
  --outfit:  'Outfit', sans-serif;             
  --staatliches: 'Staatliches', sans-serif;    
}

a {
    text-decoration: none;
    color: inherit;
}
